
@font-face {
	font-family: "WCManoNegraBta";
	src: url(../fonts/WCManoNegraBta.otf);
}

@font-face {
	font-family: "Aleo";
	src: url(../fonts/Aleo-Regular.otf);
}

@font-face {
	font-family: "aleo-light";
	src: url(../fonts/Aleo-Light.otf);
}


@font-face {
	font-family: "aleo-bold";
	src: url(../fonts/Aleo-Bold.otf);
}